<% include partials/header%>
<h1>This is the games page</h1>

<a href="/games/new">Add a new game</a>

<!--loop through each object in the games array-->
<% games.forEach(function(games){%>
    <!--div for each game-->
    <div>
        <h4><%= games.name %></h4>
        <img src="<%=games.image%>">
    </div>
<% });%>

<% include partials/footer%>