<% include ./partials/header%>

<h1>Login</h1>

<div class="container">
    <form class="form-signin" action="/login" method="POST">
        <div style="width: 50%; margin: 20% auto;" id="showTemplate">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Login</h1>
            <form>
                <!--author-->
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <!--star rating-->
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <!--submission button-->
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Login!</button>
                </div>
                <!--back button-->
                <a href="/games">Back</a>
            </form>
        </div>
    </form>
</div>

<% include ./partials/footer%>