body
{
    background-image: url("/images/background1.jpg");
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#showTemplate
{
    background: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
}

#mainHeader
{
    color: white;
}

.jumbotron
{
    /*background-color: #303844;*/
    background-color: #385787;
    color:white;
}

.rating
{
    padding-bottom: 12px;
}

#rightSide
{
    margin-right: 0;
    margin-left: auto;
}